# =========================
# FLUTTER / DART
# =========================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# =========================
# ANDROID
# =========================
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# claves de firma 
android/app/*.jks
android/app/*.keystore

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/
*.iml

# =========================
#  TEST / LOGS
# =========================
coverage/
*.log

# =========================
# ENV 
# =========================
.env
.env.*
*.env

# =========================
# FIREBASE 
# =========================

# 
android/app/google-services.json

# 
ios/Runner/GoogleService-Info.plist

# =========================
# BUILD / CACHE
# =========================
*.lock
*.tmp
*.cache

# =========================
# OTROS
# =========================
.DS_Store
Thumbs.db